@model IEnumerable<StateHighCouncil.Web.Models.LegislatorListViewModel>

<h1>@ViewData["Title"]</h1>

@foreach (var item in Model) {
    <div class="container">
        <div class="row justify-content-start mb-4 py-3 bg-light">
            <div class="col-1">
                <h1>
                @Html.DisplayFor(modelItem => item.District)
                </h1>
                <div>
                    @if (item.Status == "New")
                    {
                        <button id=@("badge"+item.Id) type="button" class="badge bg-danger" onclick="clearLegislatorStatus(@item.Id);"><i class="fa-regular fa-user-plus" id=@("status"+item.Id)></i> New!</button>
                    }
                    @if (item.Status == "Updated")
                    {
                        <button id=@("badge"+item.Id) type="button" class="badge bg-warning" onclick="clearLegislatorStatus(@item.Id);"><i class="fa-regular fa-user-pen" id=@("status"+item.Id)></i> Updated</button>
                    }
                </div>
            </div>
            <div class="col-1 mr-2">                    
                <img src="@item.ImageUrl" style="width:75px;height:100px"/>
            </div>
            <div class="col-4">
                <div>
                    <h4>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                        @*<span>
                            <a href="#"><i class="fa-solid fa-up-right-from-square text-success"></i></a>
                        </span>*@
                        <span>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-regular fa-user-pen" style="color: #a1bdec;"></i></a>
                        </span>
                        @if (item.Party == "R")
                        {
                            <img src="images\republicanlogo.jpg" style="width:25px;height:25px" />
                        }
                        @if (item.Party == "D")
                        {
                            <img src="images\democraticlogo.png" style="width:25px;height:25px" />
                        }
                        @if (item.Religion == "LDS")
                        {
                            <img src="images\lds.png" style="width:25px;height:25px" />
                        }
                        
                    </h4>
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Position)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.ServiceStart)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Counties)
                </div>
                <div>

                </div>
            </div>
            <div class="col-4">
                <div>
                    <i class="fa-regular fa-school"> </i>
                    @Html.DisplayFor(modelItem => item.Education)
                </div>
                <div>
                    <i class="fa-regular fa-briefcase"> </i>
                    @Html.DisplayFor(modelItem => item.Profession)
                </div>
                <div>
                    <i class="fa-regular fa-industry"> </i>
                </div>
            </div>
            <div class="col-1 bg-info" id=@("legGraph" + item.Id)>
                <span class="text-white h2">@item.SponsorFiledCount/@item.SponsorPassedCount</span>
            </div>
            <div class="col-1 bg-secondary">
                <span class="text-white h2">@item.FloorSponsorFiledCount/@item.FloorSponsorPassedCount</span>
            </div>
        </div>
    </div>
}

